<div class="section section-categories">
    <div class="container">
        <div class="mb-4">
            <h1 class="display-4 mb-1">Categories</h1>
            <h3>Your next favour may be next door!</h3>
        </div>
        <div class="row hide-scroll">
            <div class="hs">
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1501520158826-76df880863a3?ixdivb=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Category</h5>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1592500553436-f42536537627?ixdivb=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Category2</h5>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1592500553436-f42536537627?ixdivb=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cat3</h5>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

