<!-- templates/upost_detail.html -->
{% extends "base.html" %}
{% block content %}
<div class="section section-delete">
    <div class="container">
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.owner.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' object.owner.username %}">{{ object.owner }}</a>
                    <small class="text-muted">{{ object.date_objected | date:"F d, Y" }}</small>
                </div>
                <h4 class="article-title">{{ object.title }}</h4>
                <h5>
                    {% if post.category %}
                    <span class="badge badge-pill badge-light mr-2">{{ post.category }}</span>
                    {% endif %}
                    ${{ post.price }}
                </h5>
                <p class="article-content">{{ object.content }}</p>
                {% if object.owner == user %}
                <div>
                    <a class="btn btn-brand-grey"href="{%  url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger"href="{%  url 'post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
        </article>
    </div>
</div>
{% endblock content %}
