<!-- navbar.html -->
{% load static %}
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand brand-font" href="/">
            <img src="{% static 'assets/favours_light.png' %}" width="50" height="50" class="align-middle" alt="Favours logo">
            <div class="text-logo align-middle">
                <small class="text-logo text-secondary">beta</small>
                <p class="text-logo">Favours</p>
            </div>
        </a>

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <li class="nav-item"><a class="btn btn-brand-pink btn-gradient" href="{% url 'post-create' %}">New Favour</a></li>
                </li>
                <li class="nav-item ml-2">
                    <div class="dropdown show">
                        <a class="btn btn-user dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="profile">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile' %}"><i class="fas fa-user-circle"></i>&nbsp;&nbsp; Profile</a>
                            <a class="dropdown-item" href="{% url 'account' %}"><i class="fas fa-cog"></i>&nbsp;&nbsp; Account</a><hr>
                            <a class="dropdown-item" href="{% url 'account-logout' %}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Log out</a>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a class="btn btn-link text-reset mr-1" href="{% url 'account-signup' %}">Sign up</a></li>
                <li class="nav-item ml-2"><a class="btn btn-brand-pink" href="{% url 'account-login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
