{% load static %}

<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a class="navbar-brand brand-font" href="/">
            <img src="{% static 'assets/favours_light.png' %}" width="50" height="50" class="align-middle" alt="Favours logo">
            <div class="text-logo align-middle">
                <small class="text-logo text-secondary">beta</small>
                <p class="text-logo text-light">Favours</p>
            </div>
        </a>
    </div>

    <ul class="list-unstyled components">
        <!-- <p>Dummy Heading</p> -->
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Listings</a></li>
        <li><a href="#">Settings</a></li>
        <!-- <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </li> -->
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="btn btn-outline-light">Feature Request</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="btn-invite-friend">Invite a Friend</a>
        </li>
    </ul>
</nav>

