{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %} | Account{% endblock title %}


{% block content %}
{% if user.is_authenticated %}
    <div class="section section-profile">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ">
                    <h1>Account</h1>
                    <p>
                        <span class="font-weight-bold">{{ user.first_name | default:user.username}},</span>
                        {{ user.email }}<br>
                        Looking for your<a href="{% url 'profile' %}"> Profile?</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ u_form | crispy }}
                            {{ p_form | crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-secondary" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="card-deck">
                <div class="card text-center box-shadow">
                    <div class="card-body">
                        <p class="card-text">🧑</p>
                        <h5 class="card-title">Personal Info</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    </div>
                </div>
                <div class="card text-center box-shadow" >
                    <div class="card-body">
                        <p class="card-text">🔐</p>
                        <h5 class="card-title"><a href="{% url 'account_reset_password' %}">Privacy</a></h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    </div>
                </div>
                <a class="card text-center box-shadow">
                    <div class="card-body">
                        <p class="card-text">🔔</p>
                        <h5 class="card-title">Notifications</h5>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </a>

            </div>
            
        </div>
    </div>
{% else %}
    <div class="section">
        <div class="container">
            <h1>Sign In</h1>
            <a href="{% provider_login_url 'github' %}">Continue using GitHub <i class="fa fa-github" aria-hidden="true"></i>
            </a><br>
            <a href="{% provider_login_url 'google' %}">Continue using Google <i class="fa fa-google" aria-hidden="true"></i></a>
        </div>
    </div>
{% endif %}
{% endblock content %} 