{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="section section-login">
    <div class="container">
        <div class="card p-4 mx-auto col-lg-5">
            <div class="text-center pb-2">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <h3 class="mb-0 font-weight-bold">{% trans "Sign Out" %}</h3>
                    <p>{% trans 'Are you sure you want to sign out?' %}</p>
                    {{ form | crispy }}
                    <button class="btn btn-block btn-login primaryAction" type="submit">{% trans 'Log out' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}