<!-- base template -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Favours{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='../static/assets/favicon/favicon.ico' />
    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}
    {% endblock stylesheets %}
</head>

<body>
    {% include "includes/navbar.html" %}

    {% block content %}
    {% endblock content %}
    
    {% include "includes/footer.html" %}
    {% include "includes/scripts.html" %}
    <!-- Specific JS goes HERE -->
    {% block javascripts %}
    {% endblock javascripts %}
</body>
</html>