<!-- templates/home.html -->
{% extends "base.html" %}
{% load socialaccount %}
{% block title %} | Home{% endblock title %}
{% block content %}
    <div class="section cta">
        <div class="container">
            <div class="card cta text-white">
                <img class="card-img" src="https://a0.muscache.com/im/pictures/4b5b2c9e-9d97-4fb7-8826-1529dacb13df.jpg?im_w=1200" alt="Card image">
                <div class="card-img-overlay">
                    <h2 class="card-title">Card title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur,<br>ipsum dolor sit amet, lorem lorem.</p>
                    <p class="card-text text-light">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h3>Recent Posts</h3>
            {% for post in posts %}
            <article class="media content-section listing border-top" >
                <img class="rounded-circle article-img" href="{{ post.author.profile.url }}" src="{{ post.author.profile.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
                    </div>
                    <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                    <h5><span class="badge badge-pill badge-light mr-2">{{ post.category }}</span>${{ post.price }}</h5>
                    <p class="article-content">{{ post.content }}</p>
                </div>
                <span class="border-bottom"></span>
            </article>
            {% endfor %}

            {% if is_paginated %}
            <div class="mt-4">
                <p class="btn mb-4">{{ page_obj.number }}/{{ paginator.num_pages }}</p>
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                {% endif %}
                
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
