<!-- includes/footer.html -->
{% load static %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-12 mb-4">
                <a class="font-weight-bold">
                    <img src="{% static 'assets/favours_dark.png' %}" width="40" height="40" class="d-inline-block align-middle" alt="logo_dark">
                    Favours
                </a>
                <p class="pr-5 text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam
                    tristique convallis </p>
            </div>
            <div class="col-lg-2 col-xs-12 mb-4">
                <h5 class="mt-lg-0 mt-sm-3 text-muted">Company</h4>
                <ul class="m-0 p-0 text-white">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Open-source</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Get Newsletter</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-xs-12 mb-4">
                <h5 class="mt-lg-0 mt-sm-4 text-muted ">Communities</h4>
                <ul class="m-0 p-0 ">
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Investors</a></li>
                    <li><a href="#">Invite friends</a></li>
                    <li><a href="#">Forums</a></li>

                </ul>
            </div>
            <div class="col-lg-2 col-xs-12 mb-4">
                <h5 class="mt-lg-0 mt-sm-4 text-muted">Useful Links</h4>
                <ul class="m-0 p-0">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Safety</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-12 mb-4">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-dark"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-dark"></i>
                    <i class="fa fa-github fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-dark"></i>
                    <i class="fa fa-linkedin fa-stack-1x "></i>
                </span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-9 copyright">
                <p class="text-muted">
                    <small>© 2020. Favours, Co. All Rights Reserved.</small>
                </p>
            </div>
            <div class="col">
                    <small class="text-muted">
                        &nbsp;<a href="#">Terms</a>
                        &nbsp;<a href="#">Accessibility</a>
                        &nbsp;<a href="#">Privacy</a>
                    </small>
            </div>
        </div>
    </div>
</div>