<!-- navbar.html -->
{% load static %}
<nav class="navbar sticky-top navbar-expand-md navbar-light py-3 px-5">
    <a class="navbar-brand" href="/">
        <img src="{% static 'assets/favours_light.png' %}" width="45" height="45" class="d-inline-block align-middle" alt="logo_light">
        Favours
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">About us</a>
                    <a class="dropdown-item" href="#">How Favours works</a>
                    <a class="dropdown-item" href="#">Open-source</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-globe"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">English (us)</a>
                    <a class="dropdown-item" href="#">Spanish (es)</a>
                    <a class="dropdown-item" href="#">Polish (pl)</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">More?</a>
                </div>
            </li>

            <li class="nav-item mr-3">
                <a class="nav-link" href="#">Help</a>
            </li>

            <li class="nav-item">
                <button class="btn btn-outline-secondary my-2 my-sm-0 mr-1" type="submit">Log In</button>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Sign up</button>
            </li>
        </ul>
    </div>
</nav>