body {
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
    color: #fff;
}

html,
body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
        Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

/* -------------------------- custom brand colors -------------------------- */
/* https://coolors.co/ffffff-efefef-d7dcdd-6c8ead-e1306c */
:root {
    --brand-light-grey: #EFEFEF; /* Cultured */
    --brand-dark-grey:  #718084; /* Slate Grey */
    --brand-blue:       #6C8EAD; /* Shadow Blue */
    --brand-pink:       #E1306C; /* Razzmatazz */
}

.btn-razzmatazz {
    background-color: var(--brand-pink) !important;
    color: #fff !important;
}

.btn-razzmatazz:hover { background-color: #ce3367 !important; }
.text-razzmatazz { color: var(--brand-pink) !important; }
.bg-razzmatazz { color: var(--brand-pink) !important; }


.btn-cultured {
    background-color: var(--brand-light-grey) !important;
    color: #000 !important;
}

.btn-cultured:hover { background-color: #d6d6d6 !important; }
.bg-cultured { background-color: var(--brand-light-grey) !important; }
.text-cultured { color: var(--brand-light-grey) var(--brand-light-grey) !important; }


/* ------------------------- Boostrap, general -------------------------- */
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px; /* or 950px */
}

.section {
    margin: 8em 0em; 
}

/* ------------------------- navbar -------------------------- */
.navbar-light .navbar-brand {
    color: var(--brand-pink) ;
}

a.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 0;
}

a.navbar-brand p {
    display: inline;
    margin: 0;
    font-weight: bold;
    color: var(--brand-pink); 
    margin-right: 1rem;
}

@media screen and (max-width: 420px){
    a.navbar-brand p {
        display: none;
    }
}

.modal-login .modal-content, .modal-signup .modal-content{
    border-radius: .75rem;
    box-shadow: 0px 0px 10px 0px #0000001e;
}

.navbar .btn {
    border-radius: 1.3125rem;
}

.navbar .btn:hover {
    box-shadow: 0 0 0px 4px var(--brand-light-grey);
}

.navbar .searchbar {
    border: none;
    border-radius:  1.3125rem;
}

/* ------------------------- footer -------------------------- */
.footer {
    background-color: #000000;
    color: #fff;
    margin-top: 2em;
    padding: 6em 0 4em 0;
}

.footer ul {
    list-style: none;
}

.footer li a {
    color: #fff;
}

.footer a {
    color: var(--brand-dark-grey);
}

.footer hr{
    border-top: 1px solid var(--brand-dark-grey);
}

/* -------------------------- login form -------------------------- */
.social-login {
    display: flex;
}

hr.divider {
    overflow: visible;
    border: none;
    border-top: 1px solid var(--brand-light-grey);
    text-align: center;
    margin: 2.5rem 0; 
}

hr.divider:after {
    content: 'Or';
    display: inline-block;
    position: relative;
    top: -15px;
    font-size: 12px;
    padding: 0 16px;
    background: #fff;
    color: #3a3a3a;
}

input#id_login, input#id_password {
    border: none;
    background-color: var(--brand-light-grey);
    font-weight: bold;
}

input#id_login:hover, input#id_password:hover {
    background-color: #fff;
    box-shadow: 0 0 0px 4px var(--brand-light-grey);
}


button.btn.btn-login {
    background: linear-gradient(45deg, var(--brand-pink), #dc3545);
    color: #fff;
    border-radius: 2rem;
    margin-top: 2rem; 
}

button.btn.btn-login:hover {
    box-shadow: 0 0 0px 4px var(--brand-light-grey);
}

small.forgot-password a {
    float: right;
    font-weight: lighter;
    text-decoration: underline;
    color: var(--brand-blue);
}

.modal-login .modal-title, .modal-signup .modal-title {
    font-weight: lighter;
}

.modal-login .modal-body, .modal-signup .modal-body{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}