body {
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
    color: #fff;
}

html,
body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600 !important;
    letter-spacing: -0.025em;
}

p, a {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

p.brand, a.brand {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 600 !important;
}

/* -------------------------- custom brand colors -------------------------- */
/* https://coolors.co/ffffff-efefef-d7dcdd-6c8ead-e1306c */
:root {
    --brand-grey: #F1F1F1;
    /* brand-grey */
    --brand-dark-grey: #718084;
    /* Slate Grey */
    --brand-blue: #6C8EAD;
    /* Shadow Blue */
    --brand-pink: #E1306C;
    /* brand-pink */
}

.btn-brand-pink {
    background-color: var(--brand-pink) !important;
    color: #fff !important;
}

.btn-brand-pink:hover {
    background-color: #ce3367 !important;
}

.text-brand-pink {
    color: var(--brand-pink) !important;
}

.bg-brand-pink {
    color: var(--brand-pink) !important;
}

.btn-brand-grey {
    background-color: var(--brand-grey) !important;
    color: #000 !important;
}

.btn-outline-darkgrey {
    border-color: var(--brand-dark-grey) !important;
    color: #000 !important;
}

.btn-brand-grey:hover {
    background-color: #d6d6d6 !important;
}

.bg-brand-grey {
    background-color: var(--brand-grey) !important;
}

.text-brand-grey {
    color: var(--brand-grey) var(--brand-grey) !important;
}

.btn-gradient {
    background: linear-gradient(45deg, var(--brand-pink), #dc3545);
}

/* ------------------------- Boostrap, general -------------------------- */
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    /* or 950px */
}

.section {
    padding: 3em 0 1.5em 0;
}

/* ------------------------- navbar -------------------------- */
.navbar {
    width: 100%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    position: fixed;
    top: 0px;
    background: rgb(255, 255, 255);
    transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.65, 1) 0s;
}

.navbar-toggler {
    border: none !important;
}

a.navbar-brand {
    font-size: 1.5rem;
    margin-right: 0;
}

a.navbar-brand p {
    display: inline;
    margin: 0;
    color: var(--brand-pink);
    margin-right: 1rem;
}

.navbar .btn {
    border-radius: 1.3125rem;
}

.navbar .btn:hover {
    box-shadow: 0 0 0px 4px var(--brand-grey);
}

.navbar .btn-user {
    padding: 3px 10px 3px 5px;
    border: 1px solid #dadce0;
}

.navbar .btn-user img.rounded-circle.account-img {
    height: 31px;
    width: 31px;
    border: 1px solid var(--brand-);
}

.dropdown-menu.show {
    border-radius: .8em;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.03);
    border: 1px solid #dadce0;
}

.dropdown-toggle::after {
    vertical-align: 0.155em !important;
}

@media screen and (max-width: 420px) {
    a.navbar-brand p {
        display: none;
    }
}

/* -------------------------- Breadcrumb Navigation -------------------------- */
ol.breadcrumb {
    background: none;
    padding: 0 0 0 3px;
    margin: 0em;
}

li.breadcrumb-item a{
    color: var(--brand-dark-grey);
    font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">" !important;
    color: var(--brand-dark-grey);
}
/* ------------------------- footer -------------------------- */
.footer {
    background-color: #000000;
    color: #fff;
    margin-top: 2em;
    padding: 6em 0 2em 0;
}

.footer ul {
    list-style: none;
}

.footer li a {
    color: #fff;
}

.footer a {
    color: var(--brand-dark-grey);
}

.footer hr {
    border-top: 1px solid var(--brand-dark-grey);
}

/* -------------------------- login form -------------------------- */
.card {
    border-radius: .8em !important;
    border: 1px solid #dadce0 !important;
}

hr.divider {
    overflow: visible;
    border: none;
    border-top: 1px solid var(--brand-grey);
    text-align: center;
    margin: 2rem 0;
}

hr.divider:after {
    content: 'OR';
    display: inline-block;
    position: relative;
    top: -15px;
    font-size: 12px;
    padding: 0 16px;
    background: #fff;
    color: #3a3a3a;
}

.btn.btn-login, .btn.btn-signup, .btn.btn-logout {
    color: #fff;
    border-radius: 2rem;
    margin-top: 2rem;
}

.btn.btn-login:hover, .btn.btn-signup:hover, .btn.btn-logout:hover {
    box-shadow: 0 0 0px 4px var(--brand-grey);
}

small.forgot-password a {
    float: right;
    font-weight: lighter;
    text-decoration: underline;
    color: var(--brand-blue);
}

.social-login a.btn {
    border: 1px solid #dadce0;
}

.social-login a.btn.btn-block:hover {
    background-color: var(--brand-grey);
    border: 1px solid var(--brand-dark-grey);
}

.login label.requiredField, .signup label.requiredField {
    font-weight: bold;
}

/* -------------------------- call-to-action -------------------------- */

.cta img.card-img {
    object-fit: cover;
    height: 23em;
    border-radius: inherit;
}

.cta .card-img-overlay {
    line-height: 20px;
    max-width: 60%;
    padding: 6em 0em 0em 3em;
}

/* -------------------------- User Profile -------------------------- */
.account-img {
    height: 125px;
    width: 125px;
}

/* -------------------------- Account-settings -------------------------- */

p.card-text {
    margin-bottom: .5em;
}

.section-account-settings .card {
    line-height: .5em;
}

.section-account-settings .card-title {
    margin: 1em auto 0em auto;
}

.section-account-settings .card-body a {
    color: black;
}

@media screen and (max-width: 420px) {
    .section-account-settings .card {
        width: 100%;
        display: -webkit-inline-box;
        border: none !important;
        border-radius: 0 !important;
        border-bottom: 2px solid var(--brand-grey) !important;
        box-shadow: none !important;
        margin-bottom: 0 !important;
    }

    .section-account-settings .card-title {
        margin: auto 0;
    }

    .section-account-settings .card-body {
        text-align: left;
    }
}

/* -------------------------- Listings -------------------------- */
.article-img {
    object-fit: cover;
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

article.media.content-section.listing {
    margin: 5px 0;
    padding: 15px 0px 0px 15px;
}

.soft-shadow {
    box-shadow:
    0 2.8px 0.2px rgba(0, 0, 0, 0.005), 
    0 6.7px 5.3px rgba(0, 0, 0, 0.004), 
    0 12.5px 10px rgba(0, 0, 0, 0.015), 
    -1px 7px 20px rgba(0, 0, 0, 0.022), 
    0px 9px 20px rgba(0, 0, 0, 0.026), 
    -1px 6px 20px rgba(0, 0, 0, 0.01) !important;
}