/* for debugging, uncomment
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

body {
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
    color: #fff;
}

html,
body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* custom brand colors, callable same as BS4 classes */
/* https://coolors.co/ffffff-d7dcdd-6c8ead-e1306c */
text-razzmatazz {
    color: #e1306c !important;
}
.navbar-light .navbar-brand {
    color: #e1306c !important;
}

/* --------------------------------------------------- */

/* set a max-width for horizontal fluid layout and make it centered */
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px; /* or 950px */
}

.section {
    margin: 8em 0em; 
}

a.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
